.banner {
    margin: 60px;
    font-family: 'Montserrat', sans-serif;
}

.banner-header {
    position: relative;
    padding: 0 80px;
}

.banner-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
    filter: brightness(0.7);
}

@media only screen and (max-width: 600px) {
    .banner {
        margin: 15px;
    }

    .banner-header {
        position: relative;
        padding: 0 5px;
        height: 133px;

    }

    .banner-header img {
        border-radius: 10px;
    }

    .banner-header p {
        font-size: 27px;
        line-height: 100%;
        text-align: left;
        left: 155px;
    }
}