.font-link {
    font-family: 'Montserrat', sans-serif;
}

.header {
    margin: 25px 60px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
}

.header-logo {
    display: flex;
}

.header-logo img {
    padding-right: 5px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    padding: 15px;
    color: #FF6060;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
    color: #FF6060;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.header-bottom {
    padding: 45px 0;
}

.banner-header {
    position: relative;
    
}

.banner-header img{
    border-radius: 25px;
    /* mix-blend-mode: darken;
    background-color: #000000;
    opacity: 0.3; */
}

.banner-header p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 500;
    line-height: 68px;
}
